<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Railway application</title>
  </head>
  <body>
    <p style="color:red">Error occured</p>
    <br />
    <a href='/'>Main</a>
  </body>
</html>
