<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Railway application</title>
  </head>
  <body>
    <h3>Welcome to Railway application!</h3>
    <ul>
      <li><a href='/stations'>Stations</a></li>
      <li><a href='/routes'>Routes</a></li>
      <li><a href='/trains'>Trains</a></li>
    </ul>
  </body>
</html>
