<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Railway application</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h3>Create station</h3>
    <form action='stations' method='post'>
      <div>
        <label for='name'>Station name:</label>
        <input type='text' id='name' name='name'>
      </div><br />

      <input type='submit'>
    </form>
    <br />
    <h3>Stations table</h3>

    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CREATED DATE</th>
      </tr>
      <% @stations_info.each do |station| %>
      <tr>
        <td><%= station['id'] %></td>
        <td><%= station['name'] %></td>
        <td><%= station['created_at'] %></td>
      </tr>
      <% end %>
    </table>
    <br /><br />
    <a href='/'>Main</a>
  </body>
</html>
